<div class="body">
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile style="background-color: rgba(255, 255, 255, 0.7);border-radius: 5px;">
            <mat-list>
                <mat-list-item><button mat-stroked-button color="primary" (click)="OpenSurvey()">Fill Out Survey</button></mat-list-item>

                <mat-list-item> <button mat-stroked-button color="accent" (click)="SurveyResults()">View Survey Results</button></mat-list-item>

            </mat-list>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
</div>