@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap');
mat-list,
mat-list-item {
    width: 100%;
}

.example-full-width {
    width: 30%;
}

.example-form {
    margin: 0.5em;
}

table {
    width: 100%;
}

.error {
    color: red;
    font-size: 8pt;
}

h1 {
    font-family: 'Berkshire Swash', cursive;
    color: #58D68D;
}