@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap');
mat-list,
mat-list-item {
    width: 100%;
}

h1 {
    font-family: 'Berkshire Swash', cursive;
    color: #58D68D;
}

.item {
    margin: 0 0 0 15%;
}